@model Job_Portal_System.JOB_SEEKER_PROFILE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_JobSeekerDashboard.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JOB_SEEKER_PROFILE</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.seeker_id)

        <div class="form-group">
            @Html.LabelFor(model => model.dob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dob)
                @Html.ValidationMessageFor(model => model.dob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gender)
                @Html.ValidationMessageFor(model => model.gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.experience_level, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.experience_level)
                @Html.ValidationMessageFor(model => model.experience_level)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.education, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.education)
                @Html.ValidationMessageFor(model => model.education)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.resume_file, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.resume_file)
                @Html.ValidationMessageFor(model => model.resume_file)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfilePicturePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfilePicturePath)
                @Html.ValidationMessageFor(model => model.ProfilePicturePath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bio)
                @Html.ValidationMessageFor(model => model.Bio)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
