@model Job_Portal_System.EMPLOYER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_EmployeerDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EMPLOYER</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.industry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.full_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
