@model Job_Portal_System.SAVED_JOBS

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_JobSeekerDashboard.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SAVED_JOBS</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.seeker_id, "seeker_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("seeker_id", String.Empty)
                @Html.ValidationMessageFor(model => model.seeker_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.job_id, "job_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("job_id", String.Empty)
                @Html.ValidationMessageFor(model => model.job_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.saved_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.saved_at)
                @Html.ValidationMessageFor(model => model.saved_at)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
