@model Job_Portal_System.NOTIFICATION

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NOTIFICATION</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.notification_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notification_id)
                @Html.ValidationMessageFor(model => model.notification_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user_id, "user_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("user_id", String.Empty)
                @Html.ValidationMessageFor(model => model.user_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.message, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.message)
                @Html.ValidationMessageFor(model => model.message)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_at)
                @Html.ValidationMessageFor(model => model.created_at)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.read_status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.read_status)
                @Html.ValidationMessageFor(model => model.read_status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
