@model Job_Portal_System.NOTIFICATION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NOTIFICATION</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.read_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER.full_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.notification_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
