@model Job_Portal_System.JOB

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JOB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.job_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.requirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary_range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary_range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posted_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posted_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiry_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiry_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYER.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYER.company_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
